#u771-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u777-4
{
	font-family: ubuntu-n3, sans-serif;
}

#widgetu767.frm-sub-st #u768-4 p,#u768-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u806-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u811-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1219-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1225-4
{
	font-family: ubuntu-n3, sans-serif;
}

#widgetu1215.frm-sub-st #u1216-4 p,#u1216-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1239-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u825-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u833-4
{
	font-family: ubuntu-n3, sans-serif;
}

#widgetu817.frm-sub-st #u846-4 p,#u846-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u844-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u836-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u992-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u973-4
{
	font-family: ubuntu-n3, sans-serif;
}

#widgetu963.frm-sub-st #u981-4 p,#u981-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u968-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u976-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1043-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1059-4
{
	font-family: ubuntu-n3, sans-serif;
}

#widgetu1037.frm-sub-st #u1040-4 p,#u1040-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1065-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1053-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1103-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1112-4
{
	font-family: ubuntu-n3, sans-serif;
}

#widgetu1098.frm-sub-st #u1122-4 p,#u1122-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1125-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1120-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1168-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1154-4
{
	font-family: ubuntu-n3, sans-serif;
}

#widgetu1146.frm-sub-st #u1175-4 p,#u1175-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1174-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1157-4
{
	font-family: ubuntu-n3, sans-serif;
}

#widgetu769_input,#widgetu769_prompt,#widgetu774_input,#widgetu774_prompt,#widgetu804_input,#widgetu804_prompt,#widgetu810_input,#widgetu810_prompt,#widgetu1218_input,#widgetu1218_prompt,#widgetu1223_input,#widgetu1223_prompt,#widgetu1235_input,#widgetu1235_prompt,#widgetu824_input,#widgetu824_prompt,#widgetu830_input,#widgetu830_prompt,#widgetu840_input,#widgetu840_prompt,#widgetu835_input,#widgetu835_prompt,#widgetu988_input,#widgetu988_prompt,#widgetu969_input,#widgetu969_prompt,#widgetu964_input,#widgetu964_prompt,#widgetu974_input,#widgetu974_prompt,#widgetu1041_input,#widgetu1041_prompt,#widgetu1057_input,#widgetu1057_prompt,#widgetu1062_input,#widgetu1062_prompt,#widgetu1051_input,#widgetu1051_prompt,#widgetu1099_input,#widgetu1099_prompt,#widgetu1109_input,#widgetu1109_prompt,#widgetu1123_input,#widgetu1123_prompt,#widgetu1116_input,#widgetu1116_prompt,#widgetu1165_input,#widgetu1165_prompt,#widgetu1150_input,#widgetu1150_prompt,#widgetu1170_input,#widgetu1170_prompt,#widgetu1155_input,#widgetu1155_prompt
{
	font-family: ubuntu, sans-serif;
}

